UI vesamenu.c32
DEFAULT install
PROMPT 0
TIMEOUT 50

LABEL install
  MENU LABEL Install Forge
  KERNEL /images/pxeboot/vmlinuz
  APPEND initrd=/images/pxeboot/initrd.img inst.stage2=hd:LABEL=FORGE_ISO quiet

LABEL test
  MENU LABEL Test this media & install Forge
  KERNEL /images/pxeboot/vmlinuz
  APPEND initrd=/images/pxeboot/initrd.img inst.stage2=hd:LABEL=FORGE_ISO inst.text quiet
