set timeout=50
set default=0

menuentry "Install mt-OS" {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=MTOS_ISO quiet
    initrdefi /images/pxeboot/initrd.img
}

menuentry "Test this media & install mt-OS" {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=MTOS_ISO inst.text quiet
    initrdefi /images/pxeboot/initrd.img
}
