set timeout=50
set default=0

menuentry "Install Forge" {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=FORGE_ISO quiet
    initrdefi /images/pxeboot/initrd.img
}

menuentry "Test this media & install Forge" {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=FORGE_ISO inst.text quiet
    initrdefi /images/pxeboot/initrd.img
}
